.sidebarWrapper {
  flex-basis: var(--width-sidebar);
  display: var(--display-sidebar);
  transition: 150ms;
}
.sidebar {
  width: var(--width-sidebar);
  transition: 150ms;
  overflow: hidden;
}

.locationsListSection {
  margin-bottom: 200px;
}

.location::before {
  content: "📍";
  padding-right: 0.375em;
}
.globeWrapper {
  /* margin-left: -40px; */
  /* margin-right: -40px; */
  /* margin-bottom: calc((40 - 260) * -1px); */
  /* margin-bottom: -300px; */

  position: absolute;
  left: 0;
  right: 0;
  bottom: -320px;
}
