.sidebarWrapper {
  flex-basis: var(--width-sidebar);
  display: var(--display-sidebar);
  transition: 150ms;
}
.sidebar {
  width: var(--width-sidebar);
  transition: 150ms;
  overflow: hidden;
}

.locationsListSection {
  margin-bottom: 200px;
}

.location::before {
  content: "📍";
  padding-right: 0.375em;
}
.globeWrapper {
  /* margin-left: -40px; */
  /* margin-right: -40px; */
  /* margin-bottom: calc((40 - 260) * -1px); */
  /* margin-bottom: -300px; */

  position: absolute;
  left: 0;
  right: 0;
  bottom: -320px;
  transition: 250ms;
  cursor: pointer;
}
.globeWrapper::before {
  content: "";
  position: absolute;
  left: calc(50% - 410px / 2);
  bottom: 110px;
  width: 410px;
  height: 410px;
  border-radius: 1000px;
  background: var(--color-background-light);
  box-shadow: inset 0px 4px 104px rgba(0, 0, 0, 0.25),
    inset 0px 4px 64px rgba(0, 0, 0, 0.25);
}
/* .globeWrapper::after {
  content: "";
  position: absolute;
  left: calc(50% - 410px / 2);
  left: calc(50% - 410px / 2);
  bottom: 110px;
  width: 410px;
  height: 410px;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 80px 15px rgba(var(--color-black-triplet), 0.2);
  transition: 300ms;
  opacity: 0;
  z-index: -1;
} */
.globeWrapper:hover {
  bottom: -314px;
}
/* .globeWrapper:hover:after {
  opacity: 1;
} */
