.responsiveHeader {
  padding-left: var(--padding-main);
  background-color: rgba(var(--color-background-light-triplet), 0.8);
  position: fixed;
  z-index: 1;
}
.mainWrapper {
  padding: var(--padding-main);
  transition: 150ms;
}
.footerFloatingWrapper {
  position: fixed;
  bottom: var(--padding-main);
  right: var(--padding-main);
  transition: 150ms;
}
.footerFloatingButton {
  transition: 50ms;
}
.footerFloatingButton:hover {
  background-color: rgba(var(--color-black-triplet), 0.03);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* Below 1024px */

@media (max-width: 1023px) {
  .responsiveHeader {
    display: flex;
  }
  .footerFloatingWrapper {
    z-index: 1;
    bottom: unset;
    top: calc(30px - 16px);
  }
  .footerFloatingButton {
    height: 2rem;
    color: var(--color-text-faded);
    border-color: var(--color-text-ultra-faded);
  }
  .footerFloatingButton::after {
    margin-left: 0.5rem;
    margin-top: -0.125rem;
  }
  .footerFloatingButton:hover {
    border-color: var(--color-text-faded);
  }
}

/* Below 768px */

@media (max-width: 767px) {
  .mainContent {
    padding-top: calc(3.75rem + 1.5rem);
  }
  .intro {
    display: none;
  }
}
