.responsiveHeader {
  padding-left: var(--padding-main);
  background-color: rgba(var(--color-background-light-triplet), 0.8);
  position: fixed;
  /* top: 0; */
  z-index: 1;
}
.mainWrapper {
  padding: var(--padding-main);
  transition: 150ms;
}
.getInTouchButton {
  position: fixed;
  bottom: var(--padding-main);
  right: var(--padding-main);
  transition: 150ms;
}

/* Below 1024px */

@media (max-width: 1023px) {
  .responsiveHeader {
    display: flex;
  }
  .mainWrapper {
    /* padding-top: 0; */
  }
  .mainContent {
    /* padding-top: calc(3.75rem + 0rem); */
  }
}

/* Below 768px */

@media (max-width: 767px) {
  .mainContent {
    padding-top: calc(3.75rem + 1.5rem);
  }
  .intro {
    display: none;
  }
}
