.responsiveHeader {
  padding-left: var(--padding-main);
  background-color: rgba(var(--color-background-light-triplet), 0.8);
  position: fixed;
  /* top: 0; */
  z-index: 1;
}
.mainWrapper {
  padding: var(--padding-main);
  transition: 150ms;
}
.getInTouchButton {
  position: fixed;
  bottom: var(--padding-main);
  right: var(--padding-main);
  transition: 150ms;
}
.getInTouchButton svg {
  display: none;
}

/* Below 1024px */

@media (max-width: 1023px) {
  .responsiveHeader {
    display: flex;
  }
  .getInTouchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-faded);
    /* background-color: white; */
    z-index: 1;
    bottom: unset;
    top: calc(30px - 16px);
    border-color: var(--color-text-ultra-faded);
  }
  .getInTouchButton span {
    display: none;
  }
  .getInTouchButton svg {
    display: block;
  }
  .getInTouchButton::after {
    margin-left: 0.5rem;
    margin-top: -0.125rem;
  }
}

/* Below 768px */

@media (max-width: 767px) {
  .mainContent {
    padding-top: calc(3.75rem + 1.5rem);
  }
  .intro {
    display: none;
  }
}
