.lightboxWrapper {
  --button-animation-offset: 0.0625rem;
}
.lightbox {
  width: 80%;
}

.wrapper iframe,
.wrapper video {
  width: 100%;
  height: 100%;
  background-color: var(--color-backdrop);
}
.containerBot {
  display: none;
}
.closeButton {
  right: -4.875rem;
  width: 3.3125rem; /* 53px */
  transition: 100ms;
}
.closeButton:hover {
  top: var(--button-animation-offset);
  right: calc(-4.875rem - var(--button-animation-offset));
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0.125rem 0.125rem 0px 0px rgba(48, 48, 48, 1),
    0.125rem 0.125rem 0px 0.0625rem rgba(255, 255, 255, 0.35);
}
.closeButton:active {
  top: calc(var(--button-animation-offset) * 2);
  right: calc(-4.875rem - (var(--button-animation-offset) * 2));
  box-shadow: 0.0625rem 0.0625rem 0px 0px rgba(48, 48, 48, 1),
    0.0625rem 0.0625rem 0px 0.0625rem rgba(255, 255, 255, 0.6);
}

/* Below 1024px */

@media (max-width: 1023px) {
  .lightbox {
    width: 90%;
  }
  .subtitle {
    display: none;
  }
  .title::before {
    content: none;
  }
  .link {
    display: none;
  }
  .containerBot {
    display: flex;
  }
  .closeButton {
    position: fixed;
    top: 5vw;
    right: 5vw;
  }
  .closeButton:hover {
    top: calc(5vw + var(--button-animation-offset));
    right: calc(5vw - var(--button-animation-offset));
  }
  .closeButton:active {
    top: calc(5vw + (var(--button-animation-offset) * 2));
    right: calc(5vw - (var(--button-animation-offset) * 2));
  }
}
