.table tr {
  border-top: 1px solid #d9dadd;
  border-bottom: none;
}

/* Below 768px */
@media (max-width: 767px) {
  .rowHeaderResponsiveContentContainer {
    display: flex;
  }
  .rowHeaderResponsiveContentContainerInline {
    display: inline;
  }
  .rowMiddleWrapper {
    display: none;
  }
  .rowEndWrapper {
    display: none;
  }
}
