.table tr {
  border-top: 1px solid #d9dadd;
  border-bottom: none;
}
.table tr.linkRow {
  cursor: pointer;
  position: relative;
}
.table tr.linkRow::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0.375rem -0.825rem;
  background-color: rgba(var(--color-black-triplet), 0.05);
  border-radius: 0.25rem;
  transition: 100ms;
  opacity: 0;
}
.table tr.linkRow:hover::after {
  opacity: 1;
}
.table tr.linkRow:hover span:not(.linkIcon) {
  color: var(--color-text);
}
.table tr .linkIcon {
  color: rgba(var(--color-black-triplet), 0.3);
}
.table tr:hover .linkIcon {
  color: rgba(var(--color-black-triplet), 0.5);
}

/* Below 768px */
@media (max-width: 767px) {
  .rowHeaderResponsiveContentContainer {
    display: flex;
  }
  .rowHeaderResponsiveContentContainerInline {
    display: inline;
  }
  .rowMiddleWrapper {
    display: none;
  }
  .rowEndWrapper {
    display: none;
  }
}
