/* Below 768px */
@media (max-width: 767px) {
  .rowHeaderResponsiveContentContainer {
    display: flex;
  }
  .rowHeaderResponsiveContentContainerInline {
    display: inline;
  }
  .rowMiddleWrapper {
    display: none;
  }
  .rowEndWrapper {
    display: none;
  }
}
